venv/
.venv/
dev/
.dev/
__pycache__/
*.pyc
data/demonstrations/*
data/checkpoints/*
!data/demonstrations/.gitkeep
!data/checkpoints/.gitkeep
data/checkpoints/bc/**/*.pt
!data/checkpoints/bc/*.json
wandb/
*.onnx
*.engine
*.pt
.DS_Store
.vscode
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/